.product-single-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    border: 0px solid transparent;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}