.stock-status-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-status-reviews span:nth-child(1) {
    margin-left: 2.7em;
    background-color: red;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: small;
    font-weight: 700;
}

.stock-status-reviews span:nth-child(2) {
    margin-right: 2em;
}